<div class="mt-4">
  <h3>CẬP NHẬT THÔNG TIN KHÓA HỌC</h3>
  {{!-- form html chỉ nhận phương thức get hoặc post -> npm install method-override --}}
  <form method="post" action="/courses/{{course._id}}?_method=put" class="mt-4">
    <div class="form-group">
      <label for="name">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="{{course.name}}"
        id="name"
        name="name"
      />

    </div>

    <div class="form-group">
      <label for="description">Mô tả khóa học</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
      >{{course.description}}</textarea>

    </div>

    <div class="form-group">
      <label for="videoId">Video ID</label>
      <input
        type="text"
        class="form-control"
        value="{{course.videoId}}"
        id="videoId"
        name="videoId"
      />

    </div>

    <div class="form-group">
      <label for="level">Trình độ</label>
      <input
        type="text"
        class="form-control"
        value="{{course.level}}"
        id="level"
        name="level"
      />

    </div>

    <button type="submit" class="btn btn-primary">lưu</button>
  </form>
</div>