<form name="container-form" class="mt-4" method="post" action="/courses/handle-form-trash-actions">
  <a href="/me/stored/courses" class="btn btn-link">Danh sách khóa học</a>
  <h3> Khóa học đã xóa</h3>
  <div class="mt-4 d-flex">
    <div class="form-check">
      <input
        class="form-check-input align-items-center"
        type="checkbox"
        value=""
        id="checkbox-all"
      />
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>
    <select class="form-select mx-3" name="actions" aria-label="Default select example" required>
      <option value="" selected>--Chọn chức năng--</option>
      <option value="delete">Xóa</option>
      <option value="restore">Khôi phục</option>
    </select>

    <button class="btn btn-primary btn-sm disabled btn-checkAll-submit">Áp dụng</button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col" colspan="2">#</th>
        <th scope="col">Tên khóa học
          {{{sortable 'name' _sort}}}
        </th>
        <th scope="col">
          Trình độ
          {{{sortable 'level' _sort}}}
        </th>
        <th scope="col" colspan="2">
          Thời gian xóa
          {{{sortable 'deletedAt' _sort}}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      {{#if deleted}}
        <tr>
           <td>
            <div class="form-check">
              <input
                class="form-check-input align-items-center"
                type="checkbox"
                name="courseIds[]"
                value="{{this._id}}"
              />
            </div>
          </td>
          {{! viết phương thức trong file index.js }}
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.deletedAt}}</td>
          <td>
            <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
            <a
              href=""
              class="btn btn-link"
              data-toggle="modal"
              data-target="#confirm-delete"
              data-id="{{this._id}}"
            >Xóa</a>
          </td>
        </tr>
      {{/if}}
    {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa xóa khóa học nào</td>
        </tr>
      {{/each}}

    </tbody>
  </table>
</form>
{{!-- /courses/{{this._id}}/delete --}}
{{! Xac  nhan  xoa }}
<div id="confirm-delete" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa khóa học</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Thông tin khóa học sẽ bị xóa vĩnh viễn và không thể khôi phục. Bạn có
          chắc chắn muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button
          id="delete-course"
          type="button"
          class="btn btn-primary btn-danger"
        >Xác nhận</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<form method="post" name="deleteForm"></form>
<form method="post" name="restoreForm"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        var courseId;
        var btnDeleteCourse = document.getElementById('delete-course');
        var
            deleteCourse = document.forms['deleteForm'];
        var restoreBtn = $('.btn-restore')
        var restoreForm = document.forms['restoreForm'];



        $('#confirm-delete').on('show.bs.modal', function(event) {
            var button =
                $(event.relatedTarget);
            courseId = button.data('id');
        });

        btnDeleteCourse.onclick = function() {
            deleteCourse.action = '/courses/' +
                courseId + '/force?_method=delete';
            deleteCourse.submit();
        };


        restoreBtn.click(function(event) {
            event.preventDefault();
            var courseId = $(this).data('id');
            restoreForm.action = '/courses/' + courseId + '/restore?_method=patch';
            restoreForm.submit();
        });


        var checkboxAll = $('#checkbox-all');
        var couseItemCheckbox = $('input[name="courseIds[]"]');
        var containerForm = document.forms['container-form'];
        var btnCheckAllSubmit = $('.btn-checkAll-submit');


        checkboxAll.change(function() {
            var isCheckedAll = $(this).prop('checked');
            couseItemCheckbox.prop('checked', isCheckedAll);
        })

        couseItemCheckbox.change(function() {
            var isCheckedAll = couseItemCheckbox.length === couseItemCheckbox.filter(':checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            console.log('checked');
            renderExecuteButton();
        })

          btnCheckAllSubmit.on('submit', function(event){
            var isSubmitable = !$(this).hasClass('disabled');
            if(!isSubmitable){
                 event.preventDefault();
            }
          })
        function renderExecuteButton() {
            var isSubmitable = couseItemCheckbox.filter(':checked').length > 0;
            $('.btn-checkAll-submit').toggleClass('disabled', !isSubmitable);
        }
    });
</script>